<section class="todoapp" *ngIf="(obs|async) as listItem">
    <header class="header">
      <h1>
          {{listItem.label}}
      </h1> 
      <div class="divheader">
        <i (click)="undoRedo('Undo')" class="undo fas fa-undo-alt fa-lg"></i>
        <button (click)="deleteAll(listItem.items)" class="deleteAll">Tous supprimer</button>
        <i (click)="undoRedo('redo')" class="redo fas fa-redo-alt fa-lg"></i>
      </div>
      <form (ngSubmit)="add(lab.value)">
        <input name="newTodoInput" class="new-todo" placeholder="Que faire?" autofocus #lab/>
      </form>
    </header>
    <section class="main">
      <input  class="toggle-all" type="checkbox" [ngModel]="toggleAll(listItem.items)" name="toggleAll"/>
      <label for="toggleAll" (click)="toggleAllChange(listItem.items)" >Mark all as complete</label>
      <ul class="todo-list">
        <li *ngFor="let item of getItems(listItem.items);trackBy:trackById" 
          [class.completed]="item.isDone" 
          [class.editing]="monItem.isEditing" 
          trackBy="trackById">
          <app-todo-item 
            [item]='item' 
            (removetodoItem)="delete(item)"
            (updateTodoItem)="update($event,item)"
            #monItem>
          </app-todo-item>
        </li>
      </ul>
    </section>
    <footer class="footer">
      <span class="todo-count"><strong> {{nbElementLeft(listItem.items)}} </strong> restantes</span>
      <ul class="filters">
        <li>
          <a [class.selected]="filter == 'all'" class="filterAll" (click)="filter='all'">Tous</a>
        </li>
        <li>
          <a [class.selected]="filter == 'actives'" class="filterActives" (click)="filter='actives'">Actifs</a>
        </li>
        <li>
          <a [class.selected]="filter == 'done'" class="filterCompleted" (click)="filter='done'">Complétés</a>
        </li>
      </ul>
      <button class="clear-completed" (click)="removeChecked(listItem.items)" >Supprimer cochées</button>
    </footer>
  </section>

  <app-speech-to-text></app-speech-to-text>


