<section class="todoapp" *ngIf="(obs|async) as listItem">
    <header class="header">
      <h1>
          {{listItem.label}}
      </h1> 
      <div class="divheader">
        <i (click)="undoRedo('Undo')" class="undo fas fa-undo-alt fa-lg"></i>
        <i (click)="deleteAll(listItem.items)" class="fas fa-trash-alt fa-lg deleteAll"></i>
        <i (click)="undoRedo('redo')" class="redo fas fa-redo-alt fa-lg"></i>
      </div>
      <form>
        <input name="newTodoInput" class="new-todo" (keyup.enter)="add(newTodoInput.value)" placeholder="Que faire?" autofocus #newTodoInput value="{{voiceRecognitionService.text}}"/>
        <app-date-picker (dateselected)="saveDate($event)" #datepickerselect class="app-date-picker"></app-date-picker>
        <i 
        [ngClass]="{
          'isListening': voiceRecognitionService.isListening,
          'isNotListening': !voiceRecognitionService.isListening
        }"
        (click)="VoiceRecognition()" 
        class="fas fa-microphone fa-lg microstart">
      </i>
      </form>
     
    </header>
    <section class="main">
      <input  class="toggle-all" type="checkbox" [ngModel]="toggleAll(listItem.items)" name="toggleAll"/>
      <label for="toggleAll" (click)="toggleAllChange(listItem.items)" >Mark all as complete</label>
      <ul class="todo-list" cdkDropList (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="getItems(listItem.items)">
        <li *ngFor="let item of getItems(listItem.items);trackBy:trackById" 
          [class.completed]="item.isDone" 
          [class.editing]="monItem.isEditing" 
          trackBy="trackById"
          cdkDrag>
          <app-todo-item 
            [item]='item' 
            (removetodoItem)="delete(item)"
            (updateTodoItem)="update($event,item)"
            #monItem
            >
          </app-todo-item>
        </li>
      </ul>
    </section>
    <footer class="footer">
      <span class="todo-count"><strong> {{nbElementLeft(listItem.items)}} </strong> restantes</span>
      <ul class="filters">
        <li>
          <a [class.selected]="filter == 'all'" class="filterAll" (click)="filter='all'">Tous</a>
        </li>
        <li>
          <a [class.selected]="filter == 'actives'" class="filterActives" (click)="filter='actives'">Actifs</a>
        </li>
        <li>
          <a [class.selected]="filter == 'done'" class="filterCompleted" (click)="filter='done'">Complétés</a>
        </li>
        <li>
          <a [class.selected]="filter == 'date'" class="filterCompleted" (click)="filter='date'">Date</a>
        </li>
      </ul>
      <button class="clear-completed" (click)="removeChecked(listItem.items)" >Supprimer cochées</button>
    </footer>
  </section>

  
 


