<i mat-button mat-dialog-close class="closewindow fa fa-window-close fa-2" aria-hidden="true"></i>
<h2 mat-dialog-title>QRCODE</h2>
<mat-dialog-content class="mat-typography">
  <p class="textinfo" >Export your TODOLIST and save a copy of your items</p>
  <qrcode class="qrcodecanevas" #qrcode [qrdata]="listitemtostring" [width]="256" [errorCorrectionLevel]="'L'"></qrcode>
  <p class="textinfo">Copy your TODOLIST</p>
  <button mat-fab color="primary" class="buttoncopy" [cdkCopyToClipboard]="listitemtostring">
    <i class="fa fa-clipboard fa-2" aria-hidden="true"></i>
  </button>
</mat-dialog-content>
<mat-dialog-actions align="end">
</mat-dialog-actions>