.utils{
    border: 2px solid;
    border-radius: 5px 5px 5px 5px;
    float: right;
    height: 100px;
    width: 30px;
    margin-top: 50%;
    margin-left: 10px;
    text-align: center;
}

.app{
    display: inline-flex;
}