<div class="view" (dblclick)="isEditing = true" >
    <input class="toggle" type="checkbox" name="done" [ngModel]="item.isDone" (ngModelChange)="updateTodoItem.emit({isDone:$event});"/>
    <label class="texte" ngDefaultControl>{{item.label}}</label>
    <app-date-picker 
        (dateselected)="updateTodoItem.emit({date:$event})" 
        #datepickerselect             
        [item]=item
        class="app-date-picker">
    </app-date-picker>
    <button class="destroy" (click)="removetodoItem.emit(item)"></button>
</div>

<form (ngSubmit)="updateTodoItem.emit({label:newTextInput.value})">
    <input #newTextInput name="newTextInput" class="edit newTextInput" [ngModel]="item.label" (blur)="updateTodoItem.emit({label:newTextInput.value}) ; isEditing = false"/>
</form>